@import url("https://fonts.google.com/?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding-bottom: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 238, 250);
}

.box {
  margin-bottom: 120px;
}

.register-template {
  position: relative;
  width: 420px;
  height: 450px;
  background: transparent;
  border-radius: 10px;
  color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 450px;
  margin-top: 60px;
}

.register-template .box {
  width: 100%;
  padding: 40px;
}

.header h1 {
  font-size: 1.5rem;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    sans-serif;
  font-style: normal;
  font-weight: 600;
  color: rgb(18, 18, 18);
  margin-top: -100px;
}

.header p {
  font-size: 1.5rem;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    sans-serif;
  font-style: normal;
  font-weight: 600;
  color: rgb(18, 18, 18);
}

.registration {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
}

.registration p {
  color: rgb(18, 18, 18);
  text-decoration: none;
  font-weight: 300;
}

form .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

/* .input-box label{
    color:#807d7d;
    margin-left: 10px;
} */

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 1px solid rgb(155, 143, 143);
  border-radius: 40px;
  font-size: 16px;
  color: rgb(18, 18, 18);
  padding: 20px 20px 20px 20px;
}

.input-box input::placeholder {
  color: #807d7d;
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  translate: 0 -50%;
  font-size: 16px;
  color: rgb(18, 18, 18);
}

form button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  margin-top: 20px;
}
